body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 245, 240);
}

.landing {
    overflow: none;
}

/* nav {

}

main {

}
 */

 h1 {
     font-family: 'Roboto', sans-serif;
     font: 400;
 }




  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 8px;
    background: #4caf50;
    width: 0%;
  }