<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link
				rel="stylesheet"
				type="text/css"
				href="/assets/css/main.css"
				>
			<link
				rel="stylesheet" 
				href="https://fonts.googleapis.com/css?family=Roboto&display=swap" 
			>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div>
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:dzkub@icloud.com">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
